body{
    font-family: monospace;
    margin: 0;
    padding: 10px;
}
#play-ground {
    padding: 5px 5px 30px 5px;
    overflow: hidden;
    border: 1px dotted royalblue;
    position: relative;
}
.input-panel {
    text-align: left;
    line-height: 60px;
    font-size: 40px;
    letter-spacing: 5px;
    border-radius: 5px;
    margin: 5px;
    position: relative;
}
.input-panel .question {
    width: 500px;
    height: 60px;
    padding-left: 30px;
    background-color: rgba(255,248,220,0.6);
}
.input-panel .answer {
    width: 500px;
    height: 60px;
    padding-left: 30px;
    overflow: hidden;
    background-color: rgba(240,248,255,0.6);
}

.error-char {
    color: red;
}
.right-char {
    color: green;
}
.line {
    width: 255px;
    margin-left: 10px;
    margin-right: 10px;
    line-height: 30px;
    height: 30px;
    font-size: 18px;
    margin-bottom: 5px;
    padding: 0 5px;
    letter-spacing: 3px;
}
.input-line {
    background-color: aliceblue;
}
.question-line {
    background-color: cornsilk;
}
.tips {
    font-size: 26px;
}
.status {
    border: 1px dotted royalblue;
    padding: 5px;
    line-height: 1.5;
    font-size: 18px;
    position: fixed;
    right: 35px;
    top: 25px;
    background-color: white;
}
.status label{
    width:80px;
    display:inline-block;
    text-align: right;
    margin-right:3px;
}
.status span{
    width: 100px;
    display: inline-block;
}
.line .cool-tag {
    width: 60px;
    background: url(../images/hand.png);
    display: inline-block;
    height: 60px;
    background-size: 60px 60px;
    background-position: 0px 0px;
    position: absolute;
    top: 2px;
    right: 10px;
    opacity: 0.6;
}
.result {
    position: absolute;
    top: 180px;
    right: 0;
    bottom: 0;
    overflow: auto;
    left: 0;
}
.result-item {
    float: left;
    position: relative;
}
